﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.calendar {
    width: 80pt !important;
}

#currencySwap .glyphicon {
    font-size: 1.1em;
}

.currency-search {
    margin-top: -5pt;
    padding: 5pt 5pt 5pt;
    position: fixed;
    height: 40pt;
    width: 250pt;
    background: #e7e7e7;
    overflow-x: hidden;
    z-index: 0;
}

.currency-search + li {
    height: 40pt;
}

.currency-search .form-control{
    width: 200pt !important;
    display: inline;
}

.currency-search .glyphicon {
    padding: 5pt;
}

.currency-list {
    width: 250pt;
    max-height: 500px;
    overflow-y: auto;
}

.charts-container {
    min-width: 310px; 
    height: 400px;
    margin: 0 auto;
}