﻿@{
    ViewBag.Title = "Exchange Rates";
    ViewBag.Message = ".NET Developer vacancy task";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Specially for <a href="http://www.interesnee.ru/join-our-team/25/dotnet-developer">interesee.ru</a>.</p>
