﻿@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Serge Populov";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yekaterinburg<br />
    <abbr title="Phone">P:</abbr> +7 912 234-78-52
</address>

<address>
    <strong>Site:</strong>   <a href="http://serge.populov.com" target="_blank">serge.populov.com</a><br />
    <strong>Personal mail:</strong> <a href="mailto:serge@populov.com?subject=.NET Developer vacancy">serge@populov.com</a>
</address>