﻿@using Newtonsoft.Json
@model Exchange.Models.HomeViewModel

@{
    ViewBag.Title = "Chart";
}

@section css {
    @Styles.Render("~/Content/css/datepicker") 
}

@section scripts {
    @Scripts.Render("~/bundles/datepicker", "~/bundles/handlebar", "~/bundles/highcharts", "~/Scripts/Home/index.js")
}

<div class="jumbotron">
    <h2>Select currency and period</h2>
    <p class="lead"></p>
    <p>Exchange rates provided by <a href="http://openexchangerates.org" class="btn btn-primary" target="_bank">OpenExchangeRates.org &raquo;</a></p>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Exchange rates</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="currency1">USD</span> <b class="caret"></b></a>
                    <ul id="currencyList1" class="dropdown-menu currency-list"></ul>
                </li>
                <li><a id="currencySwap" title="Swap FROM and TO" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="currency2">EUR</span> <b class="caret"></b></a>
                    <ul id="currencyList2" class="dropdown-menu currency-list"></ul>
                </li>
            </ul>
            <div id="dateRange" class="navbar-form pull-left input-group input-daterange" data-date-format="@Model.DateFormat">
                <input type="text" class="form-control calendar" placeholder="@Model.DateFormat" id="calendarSince" value="@Model.SinceDate" />
                <span class="input-group-addon">to</span>
                <input type="text" class="form-control calendar" placeholder="@Model.DateFormat" id="calendarUpTo" value="@Model.UpToDate" />
            </div>
            <div class="navbar-btn">
                <button id="btnUpdate" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Update</button>
                <img id="imgProgress" class="hidden" src="@Url.Content("~/Content/progress.gif")" alt="Updating..." />
            </div>
            <input type="hidden" id="maxRangeInDays" value="@Model.MaxRangeInDays" />
        </div>
    </div>
</nav>

<div class="row">
    <div id="messagePlaceholder"></div>
    <div id="chartContainer" class="charts-container"></div>
</div>

<script>
    var currencies = @Html.Raw(JsonConvert.SerializeObject(Model.Currencies))
</script>

<script id="currency-search" type="text/x-handlebars-template">
    <li class="currency-search">
        <span class="glyphicon glyphicon-search"></span>
        <span>
            <input type="text" class="form-control" />
        </span>
    </li>
    <li></li>
</script>

<script id="currency-item" type="text/x-handlebars-template">
    {{#each currencies}}
    <li class="currency-item" data-currency="{{code}}"><a href="#">{{code}} - {{name}}</a></li>
    {{/each}}
</script>

<script id="error-message" type="text/x-handlebars-template">
    <div class="alert alert-{{#if type}}{{type}}{{else}}error{{/if}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{title}}</strong> {{message}}
    </div>
</script>